<section id="home" class="hero-section">
  <!-- Konten -->
  <div class="hero-content">
    <h1 class="hero-title">
      Get A <span class="highlight">Chance</span> To<br />
      Make Happen <br /> Your Dream
    </h1>

    <p class="hero-description">
      We support those who want to have the opportunity to study at their
      dream college for a better future, and the development of our young
      people for a better world.
    </p>

    <div class="hero-buttons">
      <button class="play-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="play-icon" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z" />
        </svg>
        Play Video
      </button>
    </div>
  </div>
</section>