<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
  <title>Program Alumni</title>
</head>
<body>
  <section id="programalumni" class="programalumni-section">
    <div class="programalumni-container" data-aos="fade-up">
      <h1 class="programalumni-title" data-aos="fade-right">Komunitas Alumni</h1>
      <p class="programalumni-description">
        <strong>Alumni Community</strong> bukan sekadar ajang berkumpul, melainkan sebuah ekosistem yang kaya akan kesempatan untuk terus belajar, berkembang, dan berkontribusi. Berbagai kegiatan menarik dan bermanfaat akan diselenggarakan secara berkala, dirancang untuk meningkatkan kompetensi dan memperluas wawasan para alumni.
      </p>
      <div class="programalumni-workshops">
        <h2 class="programalumni-subtitle">Ragam Workshop Bermanfaat</h2>
        <ul class="programalumni-list">
          <li><strong>Workshop Managing People</strong> untuk meningkatkan kemampuan kepemimpinan dan mempersiapkan diri pada peran strategis masa depan.</li>
          <li><strong>Workshop AI</strong> untuk membuka pemahaman tentang teknologi masa depan yang revolusioner.</li>
          <li><strong>Workshop Manajemen Keuangan Rumah Tangga</strong> untuk membekali keterampilan penting dalam meraih kestabilan finansial.</li>
        </ul>
      </div>
      <div class="programalumni-community">
        <p class="programalumni-description">
          Lebih dari sekadar peningkatan kapasitas individu, <strong>Alumni Community</strong> juga menjadi wadah yang subur untuk kolaborasi dan sinergi. Di sini, para alumni dari berbagai angkatan dan latar belakang dapat saling berkomunikasi, berbagi pengalaman, dan menjalin kerjasama untuk mewujudkan program-program yang bermanfaat bagi almamater, masyarakat, dan bangsa. Ide-ide inovatif dapat bertransformasi menjadi aksi nyata melalui kekuatan kolektif komunitas ini.
        </p>
      </div>
    </div>
  </section>

  <section id="daftaralumni" class="section" data-aos="fade-up">
    <div class="daftaralumni-container">
      <h2>Daftar Alumni Penerima Beasiswa</h2>
      <table>
        <thead>
          <tr>
            <th>Nama</th>
            <th>Angkatan</th>
            <th>Universitas</th>
            <th>Program Studi</th>
            <th>Tahun Lulus</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Nama">Rajeng A. P.</td>
            <td data-label="Angkatan">2021</td>
            <td data-label="Universitas">PGRI ADI BUANA</td>
            <td data-label="Program Studi">Fakultas Ekonomi Dan Bisnis, Akuntansi</td>
            <td data-label="Tahun Lulus">2024</td>
          </tr>
          <tr>
            <td data-label="Nama">Robert C.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">INSTITUT TEKNOLOGI SEPULUH NOPEMBER</td>
            <td data-label="Program Studi">Teknik Fisika</td>
            <td data-label="Tahun Lulus">2021</td>
          </tr>
          <tr>
            <td data-label="Nama">Jennifer A.</td>
            <td data-label="Angkatan">2020</td>
            <td data-label="Universitas">UBAYA</td>
            <td data-label="Program Studi">Tekno biologi-Program Kekhususan Bionutrisi dan Inovasi Pangan</td>
            <td data-label="Tahun Lulus">2024</td>
          </tr>
          <tr>
            <td data-label="Nama">Jennifer</td>
            <td data-label="Angkatan">2023</td>
            <td data-label="Universitas">PETRA</td>
            <td data-label="Program Studi">Jurnalism</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Angelica F.</td>
            <td data-label="Angkatan">2020</td>
            <td data-label="Universitas">UNAIR</td>
            <td data-label="Program Studi">Sosiologi - Ilmu Sosial Dan Ilmu Politik</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Rahmat A.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">UNIVERSITAS HANGTUAH</td>
            <td data-label="Program Studi">Fak Teknik Dan Ilmu Kelautan, Teknik perkapalan</td>
            <td data-label="Tahun Lulus">2021</td>
          </tr>
          <tr>
            <td data-label="Nama">Agung P.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">POLITEKNIK PERKAPALAN NEGERI SURABAYA</td>
            <td data-label="Program Studi">D3 Teknik Permesinan Kapal</td>
            <td data-label="Tahun Lulus">2020</td>
          </tr>
          <tr>
            <td data-label="Nama">Belinda B. T.</td>
            <td data-label="Angkatan">2020</td>
            <td data-label="Universitas">PETRA</td>
            <td data-label="Program Studi">Tax Accounting</td>
            <td data-label="Tahun Lulus">2024</td>
          </tr>
          <tr>
            <td data-label="Nama">Kenneth K.</td>
            <td data-label="Angkatan">2022</td>
            <td data-label="Universitas">UBAYA</td>
            <td data-label="Program Studi">Hukum</td>
            <td data-label="Tahun Lulus">2026</td>
          </tr>
          <tr>
            <td data-label="Nama">Kirana T.</td>
            <td data-label="Angkatan">2021</td>
            <td data-label="Universitas">UGM</td>
            <td data-label="Program Studi">Hubungan Internasional</td>
            <td data-label="Tahun Lulus">2025</td>
          </tr>
          <tr>
            <td data-label="Nama">dr. Agus P.</td>
            <td data-label="Angkatan">2014</td>
            <td data-label="Universitas">UNAIR</td>
            <td data-label="Program Studi">S2 Kedokteran</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Risa R.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">UNIV PURWOKERTO</td>
            <td data-label="Program Studi">Ilmu Kebudayaan Sastra Inggris</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Rifan R.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">UNIV BRAWIJAYA</td>
            <td data-label="Program Studi">Teknik Sistem Informasi Perencaan Wilayah Dan Kota</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Rizal H.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">INSTITUT TEKNOLOGI SEPULUH NOPEMBER</td>
            <td data-label="Program Studi">D3 Teknik Bangun Kapal</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Wahit A.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">INSTITUT TEKNOLOGI SEPULUH NOPEMBER</td>
            <td data-label="Program Studi">D4 Teknik Perancangan Dan Konstruksi Kapall</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Farid Aditya E. S.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">INSTITUT TEKNOLOGI SEPULUH NOPEMBER</td>
            <td data-label="Program Studi">D34teknik Pengelasan</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Henock B.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">SMK YPPI</td>
            <td data-label="Program Studi">KELAS 12</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Shenny V. A.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">SMK YPPI</td>
            <td data-label="Program Studi">KELAS 12</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">M. Decy O.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">SMK YPPI</td>
            <td data-label="Program Studi">KELAS 12</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Daniel U.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">SMK YPPI</td>
            <td data-label="Program Studi">KELAS 12</td>
            <td data-label="Tahun Lulus">-</td>
          </tr>
          <tr>
            <td data-label="Nama">Kelvin A.</td>
            <td data-label="Angkatan">2019</td>
            <td data-label="Universitas">UBAYA</td>
            <td data-label="Program Studi">Psikologi</td>
            <td data-label="Tahun Lulus">2022</td>
          </tr>
          <tr>
            <td data-label="Nama">Kadek C.</td>
            <td data-label="Angkatan">2018</td>
            <td data-label="Universitas">Universitas Pendidikan Ganesha Bali</td>
            <td data-label="Program Studi">Manajemen</td>
            <td data-label="Tahun Lulus">2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
