<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  
  <meta property="og:title" content="Beasiswa Talenta Karya Santosa" />
  <meta property="og:description" content="Beasiswa Talenta Karya Santosa diberikan kepada pelajar muda dalam keadaan kurang mampu di daerah rural Indonesia, dengan tujuan untuk membantu mereka berfokus pada studi dengan sikap yang benar dan dengan demikian tumbuh menjadi anggota masyarakat yang luar biasa dan kembali membangun daerahnya." />
  <meta property="og:url" content="https://www.talentaks.org" />
  <meta property="og:image" content="https://www.talentaks.org/images/Landscape_TKS_Logo_Share.png" />
  <meta property="og:type" content="website" />
  <link rel="stylesheet" href="{{ '/uploads/style.css' | relative_url }}">
</head>
<body>

  {{ content }}

</body>
</html>
